<mat-grid-list cdkDropListGroup [cols]="cols | min:responsiveColumns" rowHeight="1:0.5" gutterSize="15px">
	<mat-grid-tile *ngFor="let card of cards; let i = index;" [colspan]="card.cols | min:responsiveColumns:cols" [rowspan]="card.rows | min:cardMaxRows">
		<cdk-drop-list [cdkDropListData]="i">
			<!-- Cards -->
			<mat-card cdkDrag (cdkDragEntered)="entered($event)" (cdkDragDropped)="dropped($event)" [cdkDragData]="i" class="dashboard-card" [style.backgroundColor]="card.color">
        <svg class="mat-icon" cdkDragHandle title="Drag" width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
				</svg>
				<label class="rows">
						<span>Columns: </span>
						<input class="rows" #colsIn type="number" [value]="card.cols" (change)="updateCols(i,colsIn.value)">
				</label>
				<label class="rows">
						<span>rows: </span>
						<input #rowsIn type="number" [value]="card.rows" (change)="updateRows(i,rowsIn.value)">
				</label>
				<mat-card-content class="dashboard-card-content">
					<h2>{{ card.title }}</h2>
				</mat-card-content>
			</mat-card>
		</cdk-drop-list>
	</mat-grid-tile>
</mat-grid-list>
