.fullLayout{
    border:none;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
.dashboardControl{
    width: 100vw;
    flex: 0.1;
}

.dashboard{
    width: 100vw;
    flex: 0.9;
}
