<div class="grid">
  <div class="item" *ngFor="let item of items; let i = index"
       [style.grid-column-start]="item.xStart" [style.grid-column-end]="item.xEnd"
       [style.grid-row-start]="item.yStart" [style.grid-row-end]="item.yEnd" tabindex="1" draggable="true"
       (dragstart)="handleDragStart($event)"
       (dragover)="handleDragOver($event)"
       (dragenter)="handleDragEnter($event)"
       (dragleave)="handleDragLeave($event)"
       (drop)="handleDrop($event)"
       (dragend)="handleDragEnd($event)">
    <div class="box">
      {{item.id}}<br/>
        Cols:
            <label>
              <input class="number-spinner" #colsIn type="number" [value]="item.xEnd - item.xStart" (change)="updateCols(i,colsIn.value)">
            </label>
         Rows:
            <label>
              <input class="number-spinner" #rowsIn type="number" [value]="item.yEnd - item.yStart" (change)="updateRows(i,rowsIn.value)">
            </label>
    </div>
  </div>
</div>
