<div class="grid">
  <div class="item" *ngFor="let item of items; let i = index"
       [style.grid-column-start]="item.xStart" [style.grid-column-end]="item.xEnd"
       [style.grid-row-start]="item.yStart" [style.grid-row-end]="item.yEnd" tabindex="1"
       (dragover)="allowDrop($event)"
       (drop)="drop($event)"
       draggable="true" (dragstart)="drag($event)" id="{{item.id}}">
    <div class="box">
      {{item.id}}<br/>
        Cols:
            <label>
              <input class="number-spinner" #colsIn type="number" [value]="item.xEnd - item.xStart" (change)="updateCols(i,colsIn.value)">
            </label>
         Rows:
            <label>
              <input class="number-spinner" #rowsIn type="number" [value]="item.yEnd - item.yStart" (change)="updateRows(i,rowsIn.value)">
            </label>
    </div>
  </div>
</div>
