<div class="grid">
  <div class="item" *ngFor="let item of items; let i = index"
       [style.grid-column-start]="item.xStart" [style.grid-column-end]="item.xEnd"
       [style.grid-row-start]="item.yStart" [style.grid-row-end]="item.yEnd" tabindex="1">
    <div class="box">
      {{item.id}} item start- ( {{item.xStart}}, {{item.yStart}})
        <span>Cols: </span>
            <input class="number-spinner" #colsIn type="number" [value]="item.xEnd - item.xStart" (change)="updateCols(i,colsIn.value)">
    </div>
  </div>
</div>
