<div class="dashboard" fxLayout="row">
    <div class="dashboard-list-container" 
        *ngFor="let hList of horizontalLists; let i = index">
      <div class="dashboard-list">
         <div cdkDropList id="{{hList.id}}" [cdkDropListData]="hList.cardList"
           class="example-list" [cdkDropListConnectedTo]="connectedTo" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of hList.cardList" cdkDrag>{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>  